.select{
  background-color: #88bcd1;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #0000009f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .botao{
    font-size: 1.25rem;
    color:#272626;
    padding: 16px;
    text-align: center;
    
    width: calc(100% - 4px);
    cursor: pointer;
    box-sizing: content-box;
    border-right: 1px solid #272626AA;
    &:last-child{
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .selecionado{
    cursor:default;
    background-color: #7ca6b7;
    box-shadow: 2px 2px 4px #0000009f inset;
  }
}